.container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 3rem;
}

.mission-container {
  width: 50%;
}

.mission-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.mission-container h2 {
  margin-left: 2rem;
}

.mission-container li {
  list-style: none;
  border: gray 1px solid;
  padding: 1rem 4rem;
  width: 100%;
}

.rocket-container {
  width: 50%;
}

.rocket-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.rocket-container h2 {
  margin-left: 2rem;
}

.rocket-container li {
  list-style: none;
  border: gray 1px solid;
  padding: 1rem 4rem;
  width: 100%;
}
