.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
  border-bottom: 2px solid hsl(0, 0%, 0%, 0.2);
  padding-bottom: 1rem;
}

.nav div {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  gap: 2rem;
  margin: 0 1rem;
}

.nav ul {
  padding: 0;
}

.nav ul * {
  color: black;
  text-decoration: none;
}

.nav ul *:hover {
  color: rgb(0, 110, 255);
  transition: 0.4s;
}
